.location-container {
    display: flex;
    align-items: center;
    background-color: rgb(84, 84, 85);
    color: white;
    padding: 10px;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 1%;
  }

  .text-container {
    font-size: 12px;
    color: white;
    left: 17px;
    font-weight: 100;

  }

  .img-container img {
    height: auto;
    width: 15px;
    padding-right: 9px;
    padding-left: 38px;
}