.Product {
    display: flex;
    background-color: #f2f0f0;
    position: relative;
    padding: 2% 3% 0%;
    flex-direction: column;
    
}
@media (min-width:450px){
    .Product{
      display: none;
    }
  }

.title {
    color: black;
}

.containes-title{
    margin-bottom: 20px;
}

.nuestros{
        color:#b8a25a;

}
.title h1 {
    font-size: 40px;

}
.title h2{
    font-size: 40px;
    color: #000;
}
.fondo{
    width: 449px;
    margin-top: -57%;
    margin-left: -4%;
}

.color{
    color: #b8a25a;
}

.color-precio{
    color: #dd5252;
    text-decoration: line-through;
}

.title p {
    font-size: 18px;
    margin-bottom: 50px;
    width: 400px;
    color: black;
}

.containes-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cards-product {
    display: flex;
    position: relative;
    margin: 6px; 

}
.card-product {
    flex: 1; 
  }

.container-product1,
.container-product2{
  flex: 1;
  padding: 10px; 
}


.mas-products {
    position: relative;
    background-color: #141313;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border-color: transparent;
    margin-top: 46px;
    width: 250px;
    height: 50px;
    margin: 3% 19% 10%;
}

.card-porduct1 img,
.card-porduct2 img{
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.card-porduct1 h2,
.card-porduct2 h2 {
    font-size: 20px;
    color: black;
}

.ml-product{
    font-size: 14px;
    color: #803c3c;
    border: 1px solid #803c3c;
    border-radius: 5px;
    padding: 4px;
    text-align: center; 
    width: 50px;
}

.Description-porduct{
    font-size: 15px;
    color: black;
}

.card-porduct1 a,
.card-porduct2 a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-porduct1 a:hover,
.card-porduct2 a:hover{
    background-color: #0056b3;
}

.like1-P {
    position: absolute;
    top: -7px;
    left: 120px;
}

.like2-P img,
.like1-P img{
    width: 60px;
}

.like2-P {
    position: absolute;
    top: -7px;
    left: 340px;
}



.descuento-porduct1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b8a25a;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 5px;

  }

  .descuento-porduct2{
    position: absolute;
    top: 0;
    left: 200px;
    background-color: #b8a25a;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 5px;

  }
  .descuento-porduct2 p,
  .descuento-porduct1 p{
    font-size: 12px;
    font-weight: bold;
    
  }
  .Agregar-product {
    display: flex; 
    background-color: #661414;
    color: white;
    cursor: pointer;
    padding: 0px 20px; 
    border-radius: 15px;
    transition: background-color 0.3s ease;
    height: 50px;
  }
  
  .Agregar-product img {
    width: 40px;
  }
  
  .Agregar-product p {
    margin: 10px; 
  }
  