.Product {
    display: flex;
    background-color: #f2f0f0;
    position: relative;
    padding: 2% 3% 0%;
    
}
@media (min-width:450px){
    .Product{
      display: none;
    }
  }

.title {
    color: black;
}

.containes-title{
    margin-bottom: 20px;
}

.title h1 {
    font-size: 60px;
    color:#b8a25a;
    margin-bottom: -40px;

}
.title h2{
    font-size: 40px;
    color: #000;
}
.fondo{
    width: 385px;
    height: auto;
    margin-top: -16%;
    margin-right: 120%;
}

.color{
    color: #b8a25a;
}

.color-precio{
    color: #dd5252;
    text-decoration: line-through;
}

.title p {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.containes-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cards-product {
    display: flex;
    position: relative;
    left: 50px;

}

.container-product1,
.container-product2,
.container-product3,
.container-product4 {
  flex: 1; /* Hace que todas las tarjetas tengan el mismo tamaño */
  padding: 10px; 
}


.mas-products {
    background-color: #141313;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border-color: transparent;
    margin-top: 46px;
    width: 300px;
    height: 50px;
}

.card-porduct1 img,
.card-porduct2 img,
.card-porduct3 img,
.card-porduct4 img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.card-porduct1 h2,
.card-porduct2 h2,
.card-porduct3 h2,
.card-porduct4 h2 {
    font-size: 24px;
    color: black;
}

.ml-product{
    font-size: 15px;
    color: #803c3c;
    border: 1px solid #803c3c;
    border-radius: 5px;
    padding: 4px;
    text-align: center; 
    width: 50px;
}

.escription-porduct{
    font-size: 20px;
    color: black;
}

.card-porduct1 a,
.card-porduct2 a,
.card-porduct3 a,
.card-porduct4 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-porduct1 a:hover,
.card-porduct2 a:hover,
.card-porduct3 a:hover,
.card-porduct4 a:hover {
    background-color: #0056b3;
}

.like {
    position: absolute;
    top: -540px;
    right: 340px;
    transform: scale(0.1);
}

.descuento-porduct {
    position: absolute;
    top: 0; 
    left: 0;
    background-color: #b8a25a;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
  }

.Agregar-porduct {
    display: flex;
    background-color: #661414;
    color: white;
    cursor: pointer;
    padding: 0px 110px;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    transition: background-color 0.3s ease;
    height:50px;
}

.Agregar-porduct img{
    width: 100%;
}


.Agregar-porduct:hover {
    background-color: #810000;
}

