.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 4%;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center; 
  }
}

.menu {
  margin-right: 20px; 
}

.logo {
  height: 50px;
  padding: 40px;
  will-change: filter;
  transition: filter 300ms;
}

.logo img{
  width: 120px; 
  height: auto; 

}
.lupa img{
  width: 25px; 
  height: auto;
}

.menu img,
.user img,
.cart img,

.notification img {
  width: 31px; 
  height: auto; 
}

.menu {
  position: relative;
}

.menu-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  size: 5px;
  font-size: 14px;
  color: #B0AD5E;
  left: 17px;
  font-weight: 630;
}

