.Carousel {
    display: flex;
    background-color: #f2f0f0;
    position: relative;
    padding: 2% 3% 0%;
    
}
@media (max-width:450px){
    .Carousel{
      display: none;
    }
  }

.titulo {
    color: black;
}

.titulo-container {
    margin-bottom: 20px;
}

.titulo h1 {
    font-size: 60px;
    color:#b8a25a;
    margin-bottom: -40px;

}
.titulo h2{
    font-size: 40px;
    color: #000;
}


.color{
    color: #b8a25a;
}

.color-precio{
    color: #dd5252;
    text-decoration: line-through;
}

.titulo p {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.cards {
    display: flex;
    position: relative;
    left: 50px;

}

.card-container1,
.card-container2,
.card-container3,
.card-container4 {
  flex: 1; /* Hace que todas las tarjetas tengan el mismo tamaño */
  padding: 10px; 
}


.mas-productos {
    background-color: #141313;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border-color: transparent;
    margin-top: 46px;
    width: 300px;
    height: 50px;
    font-size: 17px;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.card1 h2,
.card2 h2,
.card3 h2,
.card4 h2 {
    font-size: 24px;
    color: black;
}

.ml{
    font-size: 15px;
    color: #803c3c;
    border: 1px solid #803c3c;
    border-radius: 5px;
    padding: 4px;
    text-align: center; 
    width: 50px;
}

.Description{
    font-size: 20px;
    color: black;
}

.card1 a,
.card2 a,
.card3 a,
.card4 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card1 a:hover,
.card2 a:hover,
.card3 a:hover,
.card4 a:hover {
    background-color: #0056b3;
}

.like1{
    position: absolute;
    top: 0%;
    left: 18%;
}
.like2{
    position: absolute;
    top: 0%;
    left: 42%;
}
.like3{
    position: absolute;
    top: 0%;
    left: 70%;
}
.like4{
    position: absolute;
    top: 0%;
    left: 90%;
}

.like4 img,
.like3 img,
.like2 img,
.like1 img{
    width: 60px;
}

.descuento1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b8a25a;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 5px;

  }

  .descuento2{
    position: absolute;
    top: 0;
    left: 26%;
    background-color: #b8a25a;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 5px;

  }
  
  .descuento4{
    position: absolute;
    top: 0;
    left: 77%;
    background-color: #b8a25a;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 5px;

  }

  .descuento4 p,
  .descuento2 p,
  .descuento1 p{
    font-size: 12px;
    font-weight: bold;
    
  }

.Agregar {
    display: flex;
    background-color: #661414;
    color: white;
    cursor: pointer;
    padding: 0px 110px;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    transition: background-color 0.3s ease;
    height:50px;
}

.Agregar img{
    width: 100%;
}


.Agregar:hover {
    background-color: #810000;
}

.fondo-web{
    width: 550px;
    height: auto;
    margin-top: -22%;
    margin-right: 120%;
}