.Banner-web {
    position: relative; /* Asegura que los elementos hijos puedan posicionarse relativamente */
    width: 100%; /* Establece el ancho al 100% de su contenedor */
    height: 100vh; /* Establece la altura al 100% de la altura visible del navegador */
  }
  
  .banner img {
    width: 100%; 
    height: auto; 
    object-fit:contain; 
    margin-top: 6%;
  }
  
  
  .button-container {
    position: absolute; /* Cambia la posición a absoluta */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    top: 47%;
    left: 2.5%;
  }
  
  .arrow-button {
    display: flex; 
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0px;
    cursor: pointer;
  }
  
  .arrow-button::before {
    content: '<'; 
    font-size: 40px; 
  }
  
  .arrow-button:last-child::before {
    content: '>'; 
  }
