.Banner-container{
    position: relative; 
    width: 100%; 
    margin-top: 90px;
    width: 100%;
}

@media (min-width:450px){
  .Banner-container{
    display: none;
  }
}


.discount img {
    position: relative; 
    width: 100%;
    height: auto;
    object-fit: cover;

  }
  
  .button-container {
    position: absolute; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    top: 44%;
    left: 2.5%;
  }
  
  .arrow-button {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0px;
    cursor: pointer;
  }
  
  .arrow-button::before {
    content: '<'; 
    font-size: 24px; 
  }
  
  .arrow-button:last-child::before {
    content: '>'; 
  }
  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.items a {
  margin: 5px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}

.circle {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 10px; 
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  line-height: 1; 
}

